@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600;900&display=swap");
@import "https://fonts.googleapis.com/css?family=Raleway";
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");

$header-font: "Orbitron", sans-serif;
$bold-header-font: "Orbitron", sans-serif;
$nav-font: "Raleway", sans-serif;
