@import "../../SCSS/typography.scss";
@import "../../SCSS/palette.scss";
.ProductPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;

  &_title {
    font-family: $header-font;
    margin-bottom: 50px;
    color: $primary-color;
  }

  &_img {
    height: 35vh;
    width: 30vw;
    border-radius: 8px;
  }

  &_cart {
    display: flex;
    flex-direction: row;
  }

  &_cartLink {
    text-decoration: none;
    color: $secondary-color;
    padding-right: 20px;
    :hover {
      color: $primary-color;
    }
  }

  &_price {
    text-decoration: none;
    color: $secondary-color;
    display: flex;
    flex-direction: row;
  }

  &_desc {
    color: white;
    width: 30vw;
  }

  &_quantity {
    padding: 30px;
    color: $primary-color;
  }
}

.PriceColor {
  color: $primary-color;
}
