@import "https://fonts.googleapis.com/css?family=Raleway";

.Navbar {
  &_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }

  &_item {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    :visited {
      text-decoration: none;
      color: white;
    }

    :hover {
      background-color: #111;
      border-radius: 8px;
    }
  }
}
