@import "../../SCSS/typography.scss";
@import "../../SCSS/palette.scss";

.link_style {
  text-decoration: none;
}

.Navbar {
  font-family: $nav-font;
  &_ul {
    list-style-type: none;
    background-color: $nav-background-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }

  &_logo {
    text-decoration: none;
    color: $primary-color;
    font-family: $header-font;

    :visited {
      text-decoration: none;
      color: $primary-color;
    }

    :hover {
      color: $primary-color;
      border-radius: 8px;
    }
  }

  &_item {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    :visited {
      text-decoration: none;
      color: white;
    }

    :hover {
      color: $primary-color;
      border-radius: 8px;
    }
  }
}
